<div class="container-fluid p-0">
  <!-- style="padding: 0; backgroundcolor: rgb(18, 18, 18)" -->
  <app-header class="col-sm-12"></app-header>
  <!-- <app-nav class="col-sm-12"></app-nav> -->
  <div class="row mb-10 mb-lg-1" style="display: flex">
    <app-index class="col-sm-auto d-none d-lg-flex"></app-index>
    <!-- class="col-sm-2" d-sm-none-->
    <!-- Day 3 tasks -->

    <!-- Day 4 tasks -->
    <div style="margin-top: 40px" class="mb-10 mb-lg-1 col-sm-11">
      <!-- col-sm-10 class="d-flex justify-content-center" -->
      <router-outlet></router-outlet>
    </div>
  </div>

  <app-footer class="col-sm-12"></app-footer>
</div>
